.courses {
  @media (max-width: 1199px) {
    &__block {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 991px) {
    &__block {
      grid-template-columns: 1fr;
    }
    &__item{
      min-height: 70px;
    }
  }
  @media (max-width: 767px) {
   
  }
  @media (max-width: 576px) {

  }
}
