.courses {
  min-height: 100vh;
  padding: 2rem 0;
  &__title {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }
  &__block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }
  #R01235{
    order: 1;
  }
  #R01239{
    order: 2;
  }
  #R01035{
    order: 3;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    border: 1px solid rgba(150, 150, 150, 0.2);
    box-sizing: border-box;
    box-shadow: 4px 4px 15px rgba(125, 125, 125, 0.15);
    border-radius: 15px;
    padding: 25px;
    min-height: 85px;
    transition: 0.3s;
    order: 999;
    cursor: pointer;
    &:hover {
      background: #f1fbff;
    }
    &-title {
      font-size: 1rem;
      line-height: 1.3rem;
    }
    &-price {
      font-size: 1rem;
      line-height: 1rem;
      width: 125px;
      flex-shrink: 0;
      text-align: right;
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-triangle {
      display: block;
      width: 10px;
      height: 10px;
      margin-left: 5px;
      flex-shrink: 0;
      margin-bottom: 3px;
      // svg{        
      //   fill: pink;        
      // }
    }
  }
}
